/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
body {
    background-color: beige;
    background-color: beige;
    padding: 20px;
    font-family: Georgia, Times, serif;
    font-size: 17px;
}

h1, h2,h2 {
    font-size:150%;
    font-family: Arial, Verdana, sans-serif;
    text-shadow: 2px 2px 7px #111111;
}

p {
    font-size: medium;
}

aside#social {
    background: rgba(248, 247, 216, 0.2);
    width: 200px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
}

ulsocial-links {
    display: none;
}

aside#social: hover ul.social-links {
    display: block;
}
 html {
     margin: 0;
     padding: 0;
 }
header {
    height: 300px;
    background: url(../img/monkaa_bluemonkey.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 20px 20px;
}
nav ul li {
    display: inline;
    border: solid 1px black;
    padding: 5px; 
}

footer {
    background: white;
}

section {
    padding-top: 50px;
    padding-bottom:25px;
    padding-left: 10px;
    padding-right: 10px;
}

section#watch {
    background: beige;
}

section#listen {
    background: beige;
}